/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.wy-side-nav-search {
    background-color: #000000;
}

.wy-nav-top {
    background-color: #000000;
}

h1, h2, h3, h4 {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
